body{
    font-family: Arial, Helvetica, sans-serif;
}

main{    
    display: flex;
    gap: 15px;
    flex-direction: column;    
    align-items: center;
}

section{
    background-color: #111;
    padding: 15px;
    border-radius: 4px;
    width: 400px;
}

p{
    color: #b2b2b2;
}

h1{
    text-align: center;
    font-weight: bold;
}

h2{
    color: #fff;
    font-weight: bold;
}

button{
    border-radius: 4px;
    background-color: #febe01;
    color: #332200;
    padding: 5px;
}

.color_laranja{
    color: #febe01;
}